
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2000px;
}

.dice-bar {
  position: fixed;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle at 20% 30%, rgba(255,255,255,.25), transparent 30%), radial-gradient(circle at 80% 70%, rgba(120,80,30,.12), transparent 35%),tan;
  border-radius: 75px;
  gap: 100px;
  border: 7.5px double #3B2416;
  box-sizing: border-box;
  color: #9B111E;
}

.roll-btn {
  margin: 10px;
  color: #3B2416;
  width: 65px;
  height: 65px;
  border-radius: 55px;
  border: 5px double #3B2416;
  background: #c9a227;
}

.input {
  width: 55px;
  border-radius: 25px;
  text-align: center;
}

.roll-log {
  z-index: 9999;
}

.roll-log.visible {

}

.log-btn {
  margin-top: 36px;
  color: #3B2416;
  width: 65px;
  height: 65px;
  border-radius: 55px;
  border: 5px double #3B2416;
  background: #c9a227;
}
